<!DOCTYPE html>
<html>
	<head>
		<title>Search Movie</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<div class="left"><a href="/"><p>h</p></a></div>
			<div class="right"><p>movie selector</p></div>
		</header>
		<div class="container">
			<div><%= yield %></div>
		</div>
		<footer><p>@Designed by Ian Yang</p></footer>
	</body>
</html>